<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Logged In</title>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        main {
            width: 98%;
            padding: 1%;
        }
    </style>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
</head>
  <!-- ===================================================================== -->
<body>
    <!-- TODO: Add session here stating user is logged in - also add to all other pages - see notepad scratchpad -->

    <!-- ------------------------------------------------------ -->
    <a href="/users">Home</a>
    <main>
        <!-- TODO: Add in name-->

        <!-- TODO: Add in session (see notepad scratchpad)-->

        <a href="/logout">Logout</a>
    </main>
    <!-- ------------------------------------------------------ -->
</body>
</html>